.cd{
    font-family: 'Roboto', sans-serif; 
}
#Destino .container .titulo{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}
.txtinput{
    font-family: 'Roboto', sans-serif; 
}
.txtinput:active{
    border: 4px solid rgba(155, 224, 219, 0.479);
}
.btncolor .butoncolor{
    font-family: 'Roboto', sans-serif; 
    background:#12BB94; 
    border: 2px solid #12BB94 ;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
}
.btncolor .butoncolor:active{
    border: 4px solid rgba(155, 224, 219, 0.479);
}