.cajamayor .mover{
    margin-bottom: -12%;
    width: 286px;
    height: 115px;    
}
.nav-link .letra{  
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;        
    text-transform: uppercase;
    line-height: 20px;    
    color: #0B0E16;    
    text-decoration: none;
}
.nav-link .letra:hover{
    color: #12BB94;
    text-decoration: none;
}

.post{
    padding-left: 30%;
    padding-bottom: 10px;
}
li a .post:hover{    
    color: #12BB94;
}